<body>

    <section class="body text-center" style="padding: 10px;">

        <div style="width:70%; margin: 50px auto 0 auto;">
            <form action="">
                <div class="form-group">
                    <label style="color: white;" for="">Codigo</label>
                    <input class="form-control" type="text" id="code">
                </div>
                <div class="form-group">
                    <label style="color: white;" for="">Descripcion</label>
                    <input class="form-control" type="text" id="description">
                </div>
                <div class="form-group">
                    <label style="color: white;" for="">Imagen</label>
                    <input class="form-control" type="text" id="img">
                </div>

                <a class="btn btn-success btn-block" id="prueba">Guardar</a>
            </form>
        </div>


    </section>
</body>
