<body class="home">

    <section class="home__content">
        <div class="row">
            <div class="col-md-12">
                <label style="color: white;" for="">Codigo</label>
                <br>
                <input class="home__title--input" type="text" id="code">
            </div>
            <div class="col-md-12">
                <label style="color: white;" for="">Descripcion</label>
                <br>
                <input class="home__title--input" type="text" id="description">
            </div>
            <div class="col-md-12">
                <label style="color: white;" for="">Imagen</label>
                <br>
                <input class="home__title--input" type="text" id="img">
            </div>
        </div>
        <a class="home__title--button"  id="prueba">Guardar</a>
    </section>
    <footer class="row right middle footer__home">
        <figure class="logo">
            <img class="logo--img" src="https://s3-us-west-2.amazonaws.com/devcode/img/logo.png" alt="">
        </figure>
        <h3 class="logo__footer">Winter</h3>
    </footer>
